operational_space_ctrl:
  enable_safe: true
  enable_move: true
  enable_draw: true

  safe_tol: 0.04
  q_safe: [0.0, -0.9, 1.2, -2.0, -1.5, 0.0]  # q_safe: [0, -0.7, 0.7, -1, 0.3, 1]

  Kp_safe: [5,  1, 1, 0.2, 0.2, 1]
  Kd_safe: [5, 30, 40, 10, 10, 5]

  Kp_pos: [15, 15, 15]
  Kp_ori: [0.3, 0.5, 0.5]
  Kd:      [12, 12, 8, 4, 4, 4]  #DRAW phase: tau = -Kd_ * s + Y * theta_hat_;

  tau_max: 120.0
  qdot_r_max: 2.0
  xdot_r_max: 0.25
  wdot_r_max: 0.80

  adaptive:
    enabled: true
    gamma: 0.5
    sigma: 0.02
    theta_hat_max: 200.0

  move:
    length: 0.15
    time: 20.0

  draw:
    length: 0.15
    time: 20.0
