operational_space_ctrl:
  enable_safe: true
  enable_draw: true

  safe_tol: 0.03
  q_safe: [0, -1, 0.26, -2.35, -1.537, 1]  # q_safe: [0, -0.7, 0.7, -1, 0.3, 1]

  Kp_safe: [5,  1, 1, 0.2, 0.2, 1]
  Kd:      [6,6,5,3,2,2]  #DRAW phase: tau = -Kd_ * s + Y * theta_hat_;
  Kd_safe: [5, 30, 40, 10, 10, 5]

  Kp_draw_pos: [6,6,6]
  Kp_draw_ori: [3,3,3]

  tau_max: 120.0
  qdot_r_max: 2.0
  xdot_r_max: 0.25
  wdot_r_max: 0.80

  adaptive:
    enabled: true
    gamma: 0.5
    sigma: 0.02
    theta_hat_max: 200.0

  draw:
    length: 0.5
    time: 20.0
